

.bg-main {
    background-image: url("img/bg-main.jpg");
    height: 500px;
    background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: cover;

}

.test {

  background-color: #363636;
}

.text_color_cutome {

  color: white;
}
